.section{
    padding: 20px 0;
    margin: 50px 0 0 0 0;
}

.section:nth-child(odd){
    background: #f2f2f2;

}
.section:nth-child(even){
    background: #fff;
}

.section-title{
    margin-block-end: 16px;
}

.carousel{
    display: flex;
    align-items: center;
}

.carousel button{
    color: black;
    font: 2em sans-serif;
    background: #cfcfcfce;;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 10px;
}
.carousel button.carousel-prev{
    transform: translate(+30%);
}
.carousel button.carousel-next{
    transform: translate(-30%);
}
.carousel button:hover{
    background: #cac7c7;
}

.carousel-wrapper {
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section
 .grid{
    display: grid;
    grid-auto-columns: 33%;
    grid-auto-flow: column;
    grid-gap: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 992px){
    .section .grid{
        grid-auto-columns: 50%;
    }
    
}
@media screen and (max-width: 768px){
    .section .grid{
        grid-auto-columns: 100%;
    }
}

.section .grid,
.carousel-card,
.carousel-card img {
    height: 100%;
    width: 100%;    
}
.carousel-card img{
    object-fit: cover;
}

.carousel-card{
    scroll-snap-align: center;
}
